@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --border: 0 0% 93%;
    --input: 0 0% 93%;

    --primary: 288 72% 24%;
    --primary-foreground: 0 0% 100%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;

    /* --fc-list-event-hover-bg-color: var(--accent);
    --fc-event-border-color: var(--border);
    --fc-neutral-bg-color: var(--primary);
    --fc-page-bg-color: var(--primary); */
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;

    --primary: 288 72% 24%;
    --primary-foreground: 0 0% 100%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;

    --ring: 217.2 32.6% 17.5%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

html,
body {
  @apply h-screen w-screen overflow-hidden;
}

/* React Select Styles */
.select__control {
  @apply h-fit rounded border border-input bg-transparent px-1 py-0 text-sm ring-offset-background placeholder:text-muted-foreground focus:outline-none focus:ring-2 focus:ring-ring focus:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50 shadow-none focus:border-foreground focus:text-accent-foreground !important;
}

.select__menu-list {
  @apply bg-background px-2 py-5 rounded  shadow-none;
}
.select__menu {
  @apply py-2 bg-background border !important;
}
.select__option {
  @apply relative flex w-full cursor-default select-none items-center rounded-sm py-1.5 pl-8 pr-2 text-sm outline-none focus:bg-accent focus:text-accent-foreground data-[disabled]:pointer-events-none data-[disabled]:opacity-50;
}
.select__option--is-focused {
  @apply bg-muted !important;
}

.select__option--is-selected {
  @apply bg-primary !important;
}
.select__input-container,
.select__single-value {
  @apply text-foreground !important;
}

.select__multi-value {
  @apply bg-accent text-foreground !important;
}
.select__multi-value__label {
  @apply text-inherit !important;
}

#tooltip,
.tooltip {
  @apply bg-accent p-2 border text-foreground opacity-100 !important;
}

.fc-button {
  @apply bg-accent text-muted-foreground border-border !important;
}
.fc-button-active {
  @apply text-primary-foreground bg-primary !important;
}

.fc-view,
table,
tr,
td,
tbody,
th {
  @apply border-border !important;
}

/* .fc-day-today, */
.fc-list-empty,
.fc-event {
  @apply hover:bg-accent border-border bg-background !important;
}

.fc-col-header-cell,
.fc-cell-shaded {
  @apply bg-primary text-white font-semibold py-2 !important;
}
